<html>

<head>
<title>Title</title>
</head>


<body>
<style>
	margin:0;
	padding:0;
	text-align:center;
	font-family:arial;
	font-size:12px;
	color:#fff;
	background-color:#999999;

#Hello
    {
	position:absolute;
	background-color:#000000;	
	top:320px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    height:450px;
    }

#embedly-card
        {
	position:absolute;
	background-color:#000000;	
	top:620px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    height:850px;
    }

    
    a:link{
           color: red
	}
	a:hover{
           color: blue;
	}
	a:active{
           color: green;
	}

pp { line-height: 8em; } 
    
    
h1
{
	margin:0;
	padding:0;
	font-size:11.0em;
	font-family: Impact, fantasy;
	text-shadow: 5px 5px 0px #000000;
}

h1a
{
	margin:0;
	padding:0;
	font-size:9.0em;
	font-family: Impact, fantasy;
	text-shadow: 5px 5px 0px #000000;
}
h1b
{
	margin:0;
	padding:0;
	font-size:4.5em;
	font-family: Impact, fantasy;
	text-shadow: 5px 5px 0px #000000;
}


h2
{
	margin:0;
	padding:0;
	font-size:3.0em;
	font-family: Impact, fantasy;
}

h3
{
	margin:0;
	padding:0;
	font-size:2.0em;
}

h4

{
	margin:0;
	padding:0;
	font-size:3.0em;
	color:white;
	font-family: Impact, fantasy;
}
    </style>


<h1>
	<font color="white"> Joseph Michael Hulbert</font>
	</h1>
    
<div id="Hello">
	<h1a>
	<i>Curriculum Vitae</i>
	</h1a>
	</div>
    
    <div id="embedly-card"><h2><a href="http://www.fabinet.up.ac.za/index.php/people-profile?profile=1189">Profile</a></h2><h4>FABI, the Forestry and Agricultural Biotechnology Institute, at the University of Pretoria, is a post-graduate research institute</h4>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></div>
    
    </style>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
